body .first-section {
    background-color: white;
    display: grid;
    height: 30vh;
    width: 100vw;
}

body .first-section h2 {
    font-size: 35px;
    justify-self: center;
    padding-top: 15px;
}

body .first-section .buttons {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    justify-items: center;
}

body .first-section button {
    border-radius: 38px/30px;
    width: 15vw;
    height: 5vw;
    font-size: 24px;
}

body .first-section button.contact-me {
    grid-column-start: 2;
    color: white;
    background-color: rgba(255, 187, 0, 0.685);

}

body .first-section button.contact-me:hover {
    background-color: white;
    color: teal;
    border: 1px solid teal;
}

body .first-section button.check-cv {
    grid-column-start: 3;
    background-color: white;
    color: teal;
    border: 1px solid teal;

}

body .first-section button.check-cv:hover {
    color: white;
    background-color: rgba(255, 187, 0, 0.685);
}

@media (max-width:1024px) and (orientation:landscape) {
    body .first-section h2 {
        font-size: 32px;
    }

    body .first-section button {
        font-size: 22px;
    }

}

@media (max-width:1024px) {
    body .first-section button {
        font-size: 20px;
    }
}

@media (max-width:800px) {

    body .first-section h2 {
        font-size: 20px;
    }

    body .first-section .buttons {
        grid-template-columns: 1fr 5fr 5fr 1fr;
    }

    body .first-section button {
        border-radius: 40px/35px;
        width: 15vw;
        height: 10vw;
        font-size: 14px;
    }
}

@media (max-width:414px) {
    body .first-section button {
        font-size: 18px;
    }

    body .first-section button {
        width: 25vw;
        height: 20vw;
        font-size: 12px;
    }
}