/* font-family: 'Roboto', sans-serif; */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-position: center;
    background-size: cover;
    display: grid;
    height: 70vh;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("paperwork.jpg");
    grid-template-columns: 5fr 4fr;
    grid-gap: 250px;
    justify-content: stretch;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

/* first header section */
header .left-header {
    padding-left: 5%;

}

header .left-header h1 {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 60px;
}

header .left-header h2 {
    font-size: 40px;
    padding-bottom: 2%;
}

header .left-header h2 span {
    color: rgb(100, 12, 12);
}

header .left-header p {
    font-size: 20px;
}

/* second header section */
header .foto {
    top: 25%;
    left: 60%;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    background-image: url(http://placecorgi.com/250/250);
    z-index: 2;
}

/* third header section */
header .right-header {
    grid-column: span 1;
    background-color: rgba(45, 68, 146, 0.8);
    justify-self: right;
    overflow: hidden;
}

header .right-header ul {
    padding-top: 10%;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 8vw);
}

header .right-header ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 25px;
}

header .right-header p.rotate {
    opacity: 0.4;
    font-size: 60px;
    letter-spacing: 10px;
    transform: rotate(300deg);
    color: blue;
}

header .right-header div.links {
    display: grid;
    grid-template-columns: repeat(4, 100px);

}

header .right-header div.link {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

header .right-header div.link p {
    border-bottom: 1px solid white;
    text-indent: 15px;
    color: white;
    position: absolute;
    right: 5vw;
    bottom: 4vw;

}

header .right-header i {
    padding-bottom: 2vw;
    color: white;
    font-size: 20px;
    height: 10px;

}

/* rwd */
@media (max-width:1600px) {

    header .right-header p.rotate {
        padding-top: 5vw;
    }
}

@media (max-width:1280px) {
    header .right-header ul {
        grid-template-columns: repeat(2, 10vw);
        grid-template-rows: repeat(2, 4vw);
        padding-left: 40%;
        padding-top: 5%;
    }

    header .right-header div.links {
        grid-template-columns: repeat(4, 80px)
    }
}

@media (max-width:1024px) and (orientation:landscape) {
    header .foto {
        left: 50%;
    }

    header .right-header ul {
        grid-template-columns: repeat(2, 13vw);
        padding-left: 30%;
    }

    header .right-header div.links {
        grid-template-columns: repeat(4, 70px)
    }

    header .right-header div.link {
        right: 20px;
        bottom: 30px;
    }
}

@media (max-width:812px)and (orientation:landscape) {
    header {
        min-height: 100vh;
        grid-template-columns: 3fr 5fr;

    }

    header .left-header h1 {
        padding-top: 2%;
        padding-bottom: 5%;
        font-size: 32px;
    }

    header .left-header h2 {
        font-size: 27px;
        padding-bottom: 1%;
    }

    header .left-header p {
        font-size: 18px;
    }

    header .foto {
        top: 8%;
        left: 42%;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        background-position: center;
    }

    header .right-header ul {
        padding-left: 55%;
        padding-top: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 8vw);
    }

    header .right-header ul li a {
        padding: 5px;
        font-size: 16px;
    }

    header .right-header p.rotate {
        opacity: 0;
    }

    header .right-header div.links {
        display: grid;
        grid-template-columns: repeat(4, 50px);

    }

}

@media (max-width:700px) and (orientation:landscape) {
    header .left-header h1 {
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: 24px;
    }

    header .left-header h2 {
        font-size: 23px;
        padding-bottom: 1%;
    }

    header .left-header p {
        font-size: 16px;
    }

    header .foto {
        top: 8%;
        left: 32%;
    }
}

@media (max-width:500px) and (orientation:landscape) {
    header .foto {
        top: 8%;
        left: 28%;
    }

    header .right-header div.links {
        grid-template-columns: repeat(4, 45px);
    }
}

@media (max-width:800px) and (orientation: portrait) {
    header {
        min-height: 0.6vh;
    }

    header .left-header h1 {
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: 44px;
    }

    header .left-header h2 {
        font-size: 43px;
        padding-bottom: 1%;
    }

    header .left-header p {
        font-size: 36px;
    }

    header .foto {
        top: 8%;
        left: 35%;
    }

    header .right-header ul {
        padding-left: 40%;
        padding-top: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 10vw);
    }

    header .right-header div.links {
        grid-template-columns: repeat(4, 45px);

    }
}

@media (max-width:414px) and (orientation: portrait) {
    header .left-header h1 {
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: 30px;
    }

    header .left-header h2 {
        font-size: 30px;
        padding-bottom: 1%;
    }

    header .left-header p {
        font-size: 22px;
    }

    header .foto {
        top: 50%;
        left: 50%;
        height: 140px;
        width: 140px;
        background-position: center;
        background-size: cover;
    }

    header .right-header p.rotate {
        opacity: 0;
    }

    header .right-header ul {
        padding-left: 30%;
        padding-top: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 15vw);


    }

    header .right-header ul li a {
        padding: 5px;
        font-size: 16px;
    }

    header .right-header div.links {
        grid-template-columns: repeat(4, 25px);
        padding-top: 30px;
        margin-bottom: -10px;

    }

    header .right-header div.link {
        position: absolute;
        right: 20px;
        bottom: 30px;
        font-size: 12px;
    }
}

/* body */
body {
    background-color: #F5F6F7;
    font-family: 'Roboto', sans-serif;
}

/* first body section */
body .first-section {
    background-color: white;
    display: grid;
    height: 30vh;
    width: 100vw;
}

body .first-section h2 {
    font-size: 35px;
    justify-self: center;
    padding-top: 15px;
}

body .first-section .buttons {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    justify-items: center;
}

body .first-section button {
    border-radius: 38px/30px;
    width: 15vw;
    height: 5vw;
    font-size: 24px;
}

body .first-section button.contact-me {
    grid-column-start: 2;
    color: white;
    background-color: rgba(255, 187, 0, 0.685);

}

body .first-section button.contact-me:hover {
    background-color: white;
    color: teal;
    border: 1px solid teal;
}

body .first-section button.check-cv {
    grid-column-start: 3;
    background-color: white;
    color: teal;
    border: 1px solid teal;

}

body .first-section button.check-cv:hover {
    color: white;
    background-color: rgba(255, 187, 0, 0.685);
}

@media (max-width:1024px) and (orientation:landscape) {
    body .first-section h2 {
        font-size: 32px;
    }

    body .first-section button {
        font-size: 22px;
    }

}

@media (max-width:1024px) {
    body .first-section button {
        font-size: 20px;
    }
}

@media (max-width:800px) {

    body .first-section h2 {
        font-size: 20px;
    }

    body .first-section .buttons {
        grid-template-columns: 1fr 5fr 5fr 1fr;
    }

    body .first-section button {
        border-radius: 40px/35px;
        width: 15vw;
        height: 10vw;
        font-size: 14px;
    }
}

@media (max-width:414px) {
    body .first-section button {
        font-size: 18px;
    }

    body .first-section button {
        width: 25vw;
        height: 20vw;
        font-size: 12px;
    }
}

/* second body section */
body .about-me {
    width: 90vw;
    height: 15%;

    margin: 2vw auto 2vw;
    display: grid;
    justify-items: center;
}

body .about-me h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 2vw;
}

body div.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;

}

body div.about div.my-data {
    border-right: 3px solid royalblue;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    padding: 50px 0 0 80px;

}

body div.about div.my-data span {
    color: royalblue;
}

body div.about>p {
    grid-column-start: 2;
    padding: 30px 40px 15px 10px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
}

/* body skills section*/
body .skills>h2 {
    color: black;
    text-align: center;
    font-size: 40px;
    padding-bottom: 1vw;
    text-indent: 1%;

}


body .skill-set {
    background-color: white;
    margin: 0 auto 0;
    padding-left: 10vw;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

body .skills .skill-set h3 {
    text-indent: -30%;
}

body .skills .container {
    width: 75%;
    background-color: #ddd;
    border-radius: 25px;
}

body .skills {
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 20px;
    text-indent: -30%;
}

body .html,
body .css,
body .js,
body .teamwork,
body .comm,
body .adapt {
    background-color: royalblue;
    text-align: right;
    border-radius: 25px;
}

body .html {
    width: 90%;
}

body .css {
    width: 80%;

}

body .js {
    width: 50%;

}

body .teamwork {
    width: 70%;

}

body .comm {
    width: 70%;
}

body .adapt {
    width: 85%;
}

/* body portfolio*/
body .portfolio {
    margin-top: 2vw;
}

body .portfolio h2 {
    font-size: 40px;
    text-align: center;
}

body .portfolio .cont {
    width: 90vw;
    min-height: 30vw;
    display: grid;
    grid-template-columns: repeat(3, 485px);
    grid-template-rows: 1fr 1fr;
    margin: 2vw auto 5vw;
    grid-gap: 2vw;
}

body .cont>div {
    background-color: white;
}

body .cont div img {
    display: block;
}


body .portfolio h3 {
    font-weight: bold;
    font-size: 20px;
}

body .portfolio a {
    color: royalblue;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
}

body .portfolio p {
    font-size: 18px;
    text-align: justify;
}

body .portfolio .container {
    position: relative;
    width: 100%;
}

body .portfolio .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

body .portfolio .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body .portfolio .container:hover .image {
    opacity: 0.3;
}

body .portfolio .container:hover .middle {
    opacity: 1;
}

body .portfolio .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/*footer*/
.wrapper {
    padding: 2vw 0 2vw 0;
    background-color: white;
}

footer {
    display: grid;
    min-height: 30vh;
    width: 90%;
    margin: 1vw auto 0;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

}

footer .contact {
    background-color: royalblue;
    color: white;
    padding: 10px;

}

footer .contact>p {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .half-a-border-on-top {
    border-top: 1px solid white;
    position: relative;
}

.half-a-border-on-top:after {
    padding: 0;
    margin: 0;
    display: block;
    /* probably not really needed? */
    content: "";
    width: 50%;
    height: 1.1px;
    background-color: royalblue;
    position: absolute;
    right: 0;
    top: -1px;
}

footer .contact .contacts {
    padding-top: 30px;
}

footer .contact .links i {
    font-size: 20px;
    padding: 15px;
    color: white;
}

footer section.formular {
    background-color: #F5F6F7;
}

footer section.formular {
    color: royalblue;
    padding-left: 100px;

}

footer .formular form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    font-size: 22px;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
}

form input {
    width: 100%;
}

form input.submit {
    margin: 10px auto;
    width: 25vw;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    font-size: 30px;
}

h1 {
    text-align: center;
}